
body{
  background-image: linear-gradient(to top, black, rgb(0, 0, 14), black);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.card{
  background-color: black;
  border-radius: 5rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  box-shadow: 0 0 0.8rem rgb(0, 0, 0);
  padding: 2rem;
  max-width: 90%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.card h1{
  color: white;
  text-align: center;
  font-size: 4rem;
}
.card p{
  font-size: 1.6rem;
}

h1{
  font-family: 'Pixelify Sans', sans-serif;
  color: white;
}
h2,
p{
  font-family: 'Sometype Mono', monospace;
  color: white;
}